
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <section class="section">

    <h2>Find Player</h2>

    <form class="form" action="">
      <!--  USERNAME  -->
      <div class="form_field">
        <select class="form_select" id="player_camp" name="player_camp">
          <option value="nombre">nombre</option>
          <option value="club">club</option>
          <option value="nacionalidad">nacionalidad</option>
          <option value="posicion">posicion</option>
        </select>
      <label class="form_label" for="">Elige el filtro</label>
    </div>

      <!--  PASSWORD  -->
      <div class="form_field">
        <input type="text">
        <label for="">Buscar</label>
      </div>

    </form>

  </section>



</body>
</html>



