<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Find the player</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <nav>
    <div class="nav-img"></div>

    <div class="nav-menu">
      <a class="button" routerLink="/find_the_player">Find player</a>
      <a class="button" routerLink="/register_player">Create player</a>
      <a class="button" routerLink="/all_players">All players</a>


      </div>


  </nav>

  <router-outlet></router-outlet>

</body>
</html>


