
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <section class="section">

    <h2>Login</h2>

    <form class="form" action="">
      <!--  USERNAME  -->
      <div class="form_field">
        <input type="text">
      <label for="">Username</label>
    </div>

      <!--  PASSWORD  -->
      <div class="form_field">
        <input type="text">
        <label for="">Password</label>
      </div>

    </form>

  </section>



</body>
</html>



