
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <section class="section">

    <h2>Login</h2>

    <form class="form" [formGroup]="form_post" (ngSubmit)="login()">
      <!--  USERNAME  =============================00 -->
      <div class="form_field">
          <div>
            <input type="text" formControlName="username"/>
          <label for="">Username</label>
        </div>
      <!-- verificacion -->
      <div class="form_verif" *ngIf="usernameGET.invalid && (usernameGET.dirty || usernameGET.touched)">
        <div class="form_verif" *ngIf="usernameGET.errors?.['required']">
          <p class="form_verif">Completa este campo.</p>
        </div>
      </div>
    </div>

      <!--  PASSWORD  -->
      <div class="form_field">
          <div>
            <input type="text" formControlName="password"/>
            <label for="">Password</label>
          </div>

      <!-- verificacion -->
      <div class="form_verif"
        *ngIf="passwordGET.invalid && (passwordGET.dirty || passwordGET.touched)"
      >
        <div class="form_verif" *ngIf="passwordGET.errors?.['required']">
          <p class="form_verif">Completa este campo.</p>
        </div>
      </div>
    </div>

      <div>


        <button class="boton" type="submit">Iniciar Sesion</button>
      </div>
    </form>

  </section>



</body>
</html>



